.menu
{
    color:rgb(255, 255, 255); /* font color */
    background-color:rgb(35, 204, 134);
    background-image:url(images/image_de_fond.png);
}

.reg
{
    background: url(src/1.png) no-repeat center center fixed;
    background-size: contain;
    background-color: rgb(14, 21, 41);
}
